@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Main palette */
  --champagne: #FBE8CFff;
  --coffee: #7F5B4Dff;
  --cambridge-blue: #77A9A5ff;
  --jasper: #C86C56ff;
  --silver: #BFACAAff;
  --caput-mortuum: #522D28ff;
  --licorice: #220E14ff;
  --garnet: #6A2E28ff;

  /* Functional color assignments */
  --background: var(--champagne);
  --text: var(--licorice);
  --primary: var(--cambridge-blue);
  --secondary: var(--jasper);
  --accent-1: var(--coffee);
  --accent-2: var(--silver);
  --accent-3: var(--garnet);
  --dark-background: var(--caput-mortuum);

  /* Additional useful variations */
  --background-alt: var(--silver);
  --border-color: var(--coffee);
  --heading-color: var(--coffee);
  --link-color: var(--garnet);
  --link-hover: var(--jasper);
  --button-hover: var(--garnet);
}

.dark {
  --black: #000109ff;
  --lapis-lazuli: #305D94ff;
  --space-cadet: #1D233Dff;
  --ultra-violet: #5D658Aff;
  --yinmn-blue: #44517Dff;
  --oxford-blue: #131C38ff;

  --background: var(--oxford-blue);
  --text: #ffffff;
  --primary: var(--lapis-lazuli);
  --secondary: var(--ultra-violet);
  --accent-1: var(--yinmn-blue);
  --accent-2: var(--space-cadet);
  --accent-3: var(--oxford-blue);

  --background-alt: var(--oxford-blue);
  --border-color: var(--ultra-violet);
  --heading-color: var(--lapis-lazuli);
  --link-color: var(--lapis-lazuli);
  --link-hover: var(--ultra-violet);
  --button-hover: var(--space-cadet);
}

/* Basic theme application */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: var(--primary);
}

button:not(.switch) {
  background-color: var(--primary);
  color: var(--background);
}